body{
    background-color: rgb(39, 40, 71);
}

.screenMenu{
    display: flex; 
    justify-content: center;
}
.menu{
     width: 500px;
     height: 500px;
     background:linear-gradient(to right, rgb(149, 71, 223), rgb(53, 128, 158));
     margin-top: 30px;
}
.menu .title{
    display: flex; 
    justify-content: center;
    font-weight: 700;
    margin-top: 80px;
    font-size: 20px;
    text-transform: uppercase;
}
.menu .name{
    display: flex; 
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
    margin-left:8px;
    text-transform: uppercase;
}

.menu .InterativePart .text{
    display: flex; 
    justify-content: center;
    font-weight: 510;
    margin-top: 40px;
    padding: 10px;
    margin-left: 11px;
}

.menu .InterativePart .choices{
    padding: 25px;
    
}
.menu .InterativePart .choices a{
    text-decoration: none;
}

.menu .InterativePart .choice1{
    display: flex; 
    justify-content: center;
    border-radius: 5px;
    position: relative;
    left:10vh;
}

.textPvP{
    font-weight: 600;
}
.menu .InterativePart .choice2{
    display: flex; 
    justify-content: center;
    border-radius: 5px;
    position: relative;
    left: 300px;
    bottom: 17px;
    
}

.textPvB{
    font-weight: 600;
}

.contour{
    border:1px solid rgb(39, 40, 71);/*ver se tem uma cor que fique melhor nesse contorno*/
    padding: 5px;
    width: max-content;
}

.obs{
    width: 450px;
}

.config{
    margin-left:20px;
}

.config .exit{
    margin-left: 210px;
}

.config .exit .textE{
    font-weight: 600;
}

.config .music .textMusic{
    margin-top:65px;
}

.config .music .musicButton{
    display: flex; 
    justify-content: center;
    position: relative;
    bottom:16px;
    left:50px;
    background: none;
}