body{
    background-color: rgb(39, 40, 71);
}
.inicio{
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    padding: 7px;
    background:linear-gradient(to right, rgb(149, 71, 223), rgb(53, 128, 158));
}
.inicio .title{
    margin-left:103vh/*620px*/;
    font-weight:700;
    font-size: 30px;
}

.inicio .rules{
    border: 1px solid;
}
.inicio .rules .subtitle{
    margin-left:85vh;
    font-weight: 600;
}
.inicio .rules .text{
    color:#121212;
    margin-top: 2vh;/*1%;*/
    margin-left: 95vh; /*35%;*/
}

.inicio .rules .reset{
    margin-bottom:2vh;
    margin-left: 40vh;
}

.container{
    display: flex;
    justify-content: center;
}

.fields{
    background-color: rgb(75, 0, 126);
    margin : 5vh 0 0 10vh;
    height: 380px;
    width: 900px;
}

.fieldPlayer{
    margin-left: 10vh;
}

.fieldPlayer .imagem img {
    width:115px;
}

.fieldPlayer .jogar{
    margin: 10px;
}

.choiceP{
    cursor: pointer;
}

.fieldBot{
    display: flex;
    justify-content: center;
    position: relative;/* relative:Comportamento em relação a si mesmo: O elemento é posicionado em relação à sua posição original.*/
    bottom: 137px;
    left:41vh;
}

.fieldBot .imagem img {
    width:115px;
}

.mieldField{
    display: flex;
    justify-content: center;
}

.output{
    display: flex;
    justify-content: center;
}

.inicio .rules .reset .retb{
    font-weight: 600;    
}

.fields .fieldPlayer .jogar .comb{
    font-weight: 600;
}

.fields .fieldPlayer .pontJ .pontT{
    font-weight: 600;
    margin:0,0,10vh;
}

.fields .fieldBot .pointBot .pontB{
    position:relative;
    top: 18vh;
    right:20vh;
    font-weight: 600;
}

.fields .mieldField .rod{
    font-weight: 600;
}


/*terminar de fazer as modificações dentro do card onde acontece o jogo



/*OQUE FALTA 
1-VER SE EU ENDIREITO A IMAGEM DO PAPEL